@model List<OrderDetail>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        <tr class="cart_item">
            <td class="product-remove">
                <a data="@item.OrderId" title="Remove this item" class="remove-item" style="cursor: pointer;">×</a>
            </td>
            <td class="product-thumbnail">
                <img width="145" height="145" alt="poster_1_up" class="shop_thumbnail" src="~/images/products/@item.Product.Thumb">
            </td>

            <td class="product-name">
                <span>@item.Product.ProductName</span>
            </td>

            <td class="product-price">
                <span class="amount">@((item.Total/item.Quantity).Value.ToString("#,###")) VND</span>
            </td>

            <td class="product-quantity">
                <div class="quantity buttons_added">
                    <input disabled type="number" size="4" class="input-text qty text" title="Qty" value="@item.Quantity">
                </div>
            </td>

            <td class="product-subtotal">
                <span class="amount">@item.Total.Value.ToString("#,###") VND</span>
            </td>
            <td class="product-subtotal">
                <span class="amount">@item.Order.OrderDate</span>
            </td>
            <td class="product-subtotal">
                <span class="amount">@item.Order.TransactStatus.Description</span>
            </td>
        </tr>
        <tr>
            <td class="actions" colspan="1">
                <a asp-controller="CheckOut" asp-action="Index" asp-route-OrderId=@item.OrderId class="btn btn-primary">Check out</a>
            </td>
        </tr>
    }
}